/* body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
    font-size: 23px;
}

p {
    font-size: 15;
    margin: 32;
}

aside {
    text-align: left;
    border: 2px solid;
    background: lightblue;
    border-radius: 9px
}

.border {
    width: 125px;
}

footer {
    text-align: center;
} */