@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Reset css */

* {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
}

.main-container {
    padding-left: 0;
    padding-right: 0;
}

/* Navbar section */

.nav-item {
    padding: 0 2rem;
}

/* Hero section */

.hero-section {
    background-image: url("../images//Living\ room.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 25%;
    left: 8%;
    width: 25rem;
    font-size: 5rem;
    background-image: -webkit-linear-gradient( top right, white, lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron {
    position: relative;
    /* top: -65px; */
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.quote-text {
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 19%;
    left: 58%;
    width: 28rem;
    font-size: 5rem;
    background-image: -webkit-linear-gradient( top right,white, lightblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

footer {
    background-color: rgba(180, 169, 169, 0.733);

}

.Aboutme {
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 38rem;
    font-size: 3rem;
    background-image: -webkit-linear-gradient( top right,white, darkblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.Aboutme {
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 38rem;
    font-size: 3rem;
    background-image: -webkit-linear-gradient( top right,white, darkblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}



